page-login {
    .dv_logo {
        display: block;
        width: 8rem;
        height: 8rem;
        border-radius: 999999px;
        margin: 0 auto 4rem;
    }
    ion-content {
        overflow: hidden !important;
        height: 100% !important;
        .other_login {
            text-align: center;
            padding-top: 3rem;
            color: #6f7171
        }
        .qqlogin {
            margin-bottom: 1rem;
        }
    }
}