page-send-share {
    textarea {
        height: 8rem !important;
    }
    .imgs {
        width: 8rem;
        height: 8rem;
        background-size: cover !important;
        float: left;
        margin-right: 10px;
    }
    .idark {
        .toolbar-background {
            background: #37474f !important;
        }
    }
    .idark_content {
        background: #212b30 !important;
        .item-md {
            background: #37474f !important;
        }
        .item-md,
        textarea {
            color: #fff !important;
        }
        .list-md .item-block .item-inner {
            border: none !important;
        }
    }
}