page-send-share {
    textarea {
        height: 8rem !important;
    }
    .imgs {
        width: 8rem;
        height: 8rem;
        background-size: cover !important;
        float: left;
        margin-right: 10px;
    }
}