<!-- Generated template for the ShareComponent component -->
<section class="item" [class.idark]="isIdark" *ngFor="let item of data">
    <header [data]="item"></header>
    <section (click)="pushOpenSharePage( item._id );">
        <p [class.idarkC2]="isIdark">{{item.text}}</p>
        <section class="imgs-wrap">
            <div *ngFor="let item2 of item.img" class="imgs" [style.background]="'url('+item2.src+')'"></div>

        </section>
        <section class="mark">
            <p><i class="fa fa-eye" aria-hidden="true"></i> 0</p>
            <p class="cen"><i class="fa fa-commenting-o" aria-hidden="true"></i> {{item.mark.cont}}</p>
            <p><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{item.mark.like}}</p>
        </section>
    </section>
</section>