<!-- Generated template for the ShareComponent component -->
<section class="item" *ngFor="let item of data">
    <header>
        <img [src]="item.userimg" alt="">
        <div class="it-left">
            <h6>{{item.name}} 分享了心情</h6>
            <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>:{{item.time | date}}</p>
        </div>
        <div class="fork"><i class="fa fa-plus" aria-hidden="true"></i> 关注</div>
    </header>
    <p>{{item.text}}</p>
    <section class="imgs-wrap">
        <div *ngFor="let item2 of item.img" class="imgs" [style.background]="'url('+item2.src+')'"></div>

    </section>
    <section class="mark">
        <p><i class="fa fa-eye" aria-hidden="true"></i> 21</p>
        <p class="cen"><i class="fa fa-commenting-o" aria-hidden="true"></i> {{item.mark.cont}}</p>
        <p><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{item.mark.like}}</p>
    </section>
</section>