share {
    .item {
        background: #fff;
        width: 100%;
        padding: 12px;
        margin-bottom: 12px;
        p {
            margin-bottom: 0;
        }
        .imgs-wrap {
            overflow: hidden;
            .imgs {
                float: left;
                width: 23%;
                margin: 2% 2% 0% 0;
                height: 0;
                padding-bottom: 23%;
                background-color: #dbe0e4;
                background-size: cover !important;
                background-position: center center !important;
                background-repeat: no-repeat !important;
            }
        }
        .mark {
            padding-top: 6px;
            display: -webkit-flex;
            display: flex;
            p {
                flex-grow: 1;
                text-align: center;
                color: #9a9a9a;
                line-height: 18px;
                font-size: 15px;
                margin: 10px 0;
            }
            .cen {
                border-left: 1px solid #9a9a9a;
                border-right: 1px solid #9a9a9a;
                box-sizing: border-box;
            }
            i {
                color: #488aff;
            }
        }
    }
}