<!-- Generated template for the ShareComponent component -->
<section class="item">
    <header>
        <img src="https://avatars0.githubusercontent.com/u/11835988?v=3&s=460" alt="">
        <div class="it-left">
            <h6>Devon 分享了作品</h6>
            <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>:7-01</p>
        </div>
        <div class="fork"><i class="fa fa-plus" aria-hidden="true"></i> 关注</div>
    </header>
    <section class="imgs-wrap">
        <div class="imgs" [style.background]="'url('+'https://assets.servedby-buysellads.com/p/manage/asset/id/26626'+')'"></div>
        <div class="imgs" [style.background]="'url('+'https://assets.servedby-buysellads.com/p/manage/asset/id/26626'+')'"></div>
        <div class="imgs" [style.background]="'url('+'https://assets.servedby-buysellads.com/p/manage/asset/id/26626'+')'"></div>
        <div class="imgs" [style.background]="'url('+'https://assets.servedby-buysellads.com/p/manage/asset/id/26626'+')'"></div>
    </section>
    <section class="mark">
        <p><i class="fa fa-eye" aria-hidden="true"></i> 21</p>
        <p class="cen"><i class="fa fa-commenting-o" aria-hidden="true"></i> 12</p>
        <p><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 41</p>
    </section>
</section>