work {
    .item {
        background: #fff;
        width: 100%;
        padding: 12px;
        margin-bottom: 12px;
        header {
            color: #828282;
            width: 100%;
            overflow: hidden;
            img {
                width: 35px;
                height: 35px;
                vertical-align: top;
                border: none;
                display: block;
                float: left;
                border-radius: 9999px;
            }
            h4 {
                line-height: 35px;
                margin: 0;
                font-size: 14px;
                font-weight: normal;
                margin-left: 10px;
                float: left;
            }
            .time {
                line-height: 35px;
                float: right;
                margin: 0;
            }
        }
        h5 i {
            color: #488aff;
        }
        .banner {
            width: 100%;
            height: 150px;
            background-size: cover !important;
            background-position: center center !important;
            margin-top: 6px;
        }
        .mark {
            color: #828282;
            i {
                color: #488aff;
            }
        }
    }
}