footer {
    ion-footer {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
        background-color: #fff;
        height: 55px;
    }
    .input-wrap {
        ion-textarea {
            position: static;
        }
        padding: 0 5px;
        ion-col.col {
            padding: 0;
        }
        button {
            width: 100%;
            height: 55px;
            font-size: 1.3em;
            margin: 0;
        }
        textarea {
            border-bottom: 1px #387ef5;
            border-style: solid;
        }
    }
}