page-my-answer {
    ion-content {
        background: #eee !important;
    }
    .idark {
        .toolbar-background {
            background: #37474f !important;
        }
    }
    .idark_content {
        background: #212b30 !important;
    }
}