page-send-work-type {
    .dv_work_title {
        text-align: center;
        font-size: 2.5rem;
        line-height: 4rem;
        color: #757575;
        display: block;
        width: 100%;
        margin: 0 auto;
        border: none;
    }
    .idark {
        .toolbar-background {
            background: #37474f !important;
        }
    }
    .idark_content {
        background: #212b30 !important;
        .dv_work_title {
            color: #fff !important;
            background: #37474f !important;
        }
        .list-md .item-block .item-inner {
            border: none !important;
        }
    }
}