page-send-work-type {
    .dv_work_title {
        text-align: center;
        font-size: 2.5rem;
        line-height: 4rem;
        color: #757575;
        display: block;
        width: 100%;
        margin: 0 auto;
        border: none;
    }
}