<!-- Generated template for the SwiperComponent component -->
<div class="swiper-container">
    <div class="swiper-wrapper">

        <div class="swiper-slide" style="background: url('http://7xp2ia.com1.z0.glb.clouddn.com/banner5.png')"></div>
        <div class="swiper-slide" style="background: url('http://7xp2ia.com1.z0.glb.clouddn.com/banner2.png')"></div>
        <div class="swiper-slide" style="background: url('http://7xp2ia.com1.z0.glb.clouddn.com/banner3.png')"></div>
        <div class="swiper-slide" style="background: url('http://7xp2ia.com1.z0.glb.clouddn.com/banner4.png')"></div>
        <div class="swiper-slide" style="background: url('http://7xp2ia.com1.z0.glb.clouddn.com/banner1.png')"></div>

    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>