<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
     xmlns:android="http://schemas.android.com/apk/res/android"
     id="cordova-plugin-jcore"
     version="1.1.5">

    <name>JCore</name>
    <description>Cordova plugin for jcore</description>
    <author>WilhanTian, JiGuang</author>
    <keywords>jcore,jpush</keywords>
    <license>MIT License</license>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <platform name="android">
        <source-file src="src/android/arm64-v8a/libjcore113.so" target-dir="libs/arm64-v8a"/>
        <source-file src="src/android/armeabi/libjcore113.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/armeabi-v7a/libjcore113.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/mips/libjcore113.so" target-dir="libs/mips"/>
        <source-file src="src/android/mips64/libjcore113.so" target-dir="libs/mips64"/>
        <source-file src="src/android/x86/libjcore113.so" target-dir="libs/x86"/>
        <source-file src="src/android/x86_64/libjcore113.so" target-dir="libs/x86_64"/>

        <source-file src="src/android/jcore-android_v1.1.3.jar" target-dir="libs"/>
    </platform>

    <platform name="ios">
        <source-file src="src/ios/jcore-ios-1.1.3.a" framework="true" />
    </platform>
</plugin>
