page-send-comments {
    textarea {
        width: 90% !important;
        margin: 0 auto !important;
        display: block !important;
        height: 10rem !important;
    }
    .idark {
        .toolbar-background {
            background: #37474f !important;
        }
    }
    .idark_content {
        .toolbar-background {
            background: #212b30 !important;
        }
        .item {
            background: #212b30 !important;
        }
        .button-md {
            background: #37474f !important;
        }
    }
}