.share-header {
    .iheader {
        color: #828282;
        width: 100%;
        overflow: hidden;
        img {
            width: 35px;
            height: 35px;
            vertical-align: top;
            border: none;
            display: block;
            float: left;
            border-radius: 9999px;
        }
        h4 {
            line-height: 35px;
            margin: 0;
            font-size: 14px;
            font-weight: normal;
            margin-left: 10px;
            float: left;
        }
        .time {
            line-height: 35px;
            float: right;
            margin: 0;
        }
    }
}