page-answer {
    ion-header,
    .toolbar-title {
        transition: all 1000ms cubic-bezier(.19, 1.12, .65, .91);
    }
    .dv_content {
        padding: 5%;
        padding-top: 18%;
        padding-bottom: 50px;
    }
    .scroll-content {
        margin-top: 0 !important;
        padding-top: 0px;
        margin-bottom: 0 !important;
    }
    .animate {
        top: -90px;
    }
}