page-answer {
    ion-header,
    .toolbar-title {
        transition: all 1000ms cubic-bezier(.19, 1.12, .65, .91);
    }
    .dv_content {
        width: 90%;
        padding: 5%;
        padding-top: 18%;
        padding-bottom: 50px;
        overflow: hidden;
        img {
            display: inline-block !important;
            max-width: 100% !important;
        }
    }
    .scroll-content {
        margin-top: 0 !important;
        padding-top: 0px;
        margin-bottom: 0 !important;
    }
    .animate {
        top: -90px;
    }
    .idark {
        .toolbar-background {
            background: #212b30 !important;
        }
        .dv_content {
            p {
                color: #d6d9db !important;
            }
            color: #d6d9db !important;
        }
    }
}