page-question-list {
    ion-content {
        background-color: #f2f4f7 !important;
    }
    .idark {
        .toolbar-background {
            background: #37474f !important;
        }
    }
    .idark_content {
        .toolbar-background {
            background: #212b30 !important;
        }
    }
}