comments {
    .item {
        background: #fff;
        border-bottom: 1px solid #eee;
        width: 100%;
        padding: 12px;
        margin-bottom: 0px;
        p {
            margin-bottom: 0;
        }
        header {
            color: #828282;
            width: 100%;
            overflow: hidden;
            .it-left {
                width: 50%;
                overflow: hidden;
                float: left;
                margin-left: 10px;
                h6 {
                    line-height: 18px;
                    margin: 0;
                    font-size: 12px;
                    font-weight: normal;
                }
                .time {
                    line-height: 18px;
                    margin: 0;
                }
            }
            .fork {
                font-size: 12px;
                float: right;
                padding: 5px 12px;
                box-sizing: border-box;
                color: #2196f3;
                margin-top: 6px;
            }
            img {
                width: 36px;
                height: 36px;
                vertical-align: top;
                border: none;
                display: block;
                float: left;
                border-radius: 9999px;
            }
        }
    }
    .idark {
        p {
            color: #d6d9db;
        }
    }
}