page-fork-user {
    ion-content {
        background: #eee !important;
    }
    .idark_content {
        .item {
            background: #212b30 !important;
            color: #fff !important;
        }
    }
}