page-open-share {
    .idark_content {
        background: #212b30 !important;
        .toolbar-background {
            background: #212b30 !important;
        }
    }
    ion-content {
        background-color: #f2f4f7 !important;
        .wrap {
            padding-bottom: 100px !important;
        }
    }
    ion-list,
    ion-list-header {
        margin-bottom: 0 !important;
    }
}