steps {
    .dv_content {
        width: 100%;
        padding: 3%;
        h6 {
            color: #d3c5a1;
            padding-bottom: 12px;
        }
        span {
            color: #d3c5a1;
        }
        ion-row {
            border-block-end: 1px solid #f3f4f5;
            margin-bottom: 8px;
        }
        .dv_imgs {
            width: 100%;
            height: 180px;
            background-size: cover !important;
            background-position: center center !important;
            margin-bottom: 35px;
        }
        .dv_tips {
            width: 100%;
            background: #f3f4f5;
            color: #717171;
            padding: 2%;
            margin-bottom: 30px;
        }
    }
}