question {
    .dv_top_ban {
        margin-bottom: 12px;
        width: 100%;
        background: #fff;
        padding: 0 4%;
        padding-top: 2px;
        h2 {
            clear: both;
            display: block;
            font-size: 1.9rem;
            line-height: 2.4rem;
        }
        p {
            color: #676767;
        }
    }
}