<!-- Generated template for the WorkComponent component -->
<section class="item">
    <header>
        <img src="https://avatars0.githubusercontent.com/u/11835988?v=3&s=460" alt="">
        <h4>Devon 分享了作品</h4>
        <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>:7-01</p>
    </header>
    <section class="banner" [style.background]="'url('+'http://s2.cdn.xiachufang.com/195d38a2880211e6a9a10242ac110002_600w_400h.jpg?imageView2/2/w/660/interlace/1/q/90'+')'"></section>
    <h5><i class="fa fa-cutlery" aria-hidden="true"></i> &nbsp;红烧豆腐</h5>
    <p>野兽派川菜之四十一【红烧豆腐】不二食堂……本想操持个麻婆豆腐无奈家里黄小姐求我千万不要太多花椒你都是我四川妹子的人了要学会适应……其实今天其实是一个少麻版麻婆豆腐豆瓣酱的香是精髓真乃拌饭神器</p>
    <section class="mark">
        <p><i class="fa fa-heart" aria-hidden="true"></i> 感谢:12 • <i class="fa fa-file" aria-hidden="true"></i> 收藏:12 • <i class="fa fa-comment" aria-hidden="true"></i> 评论:12</p>
    </section>
</section>