<!--
  Generated template for the CommentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [class.idark]="isIdark">

    <ion-navbar color="mblue">
        <ion-title>评论详情</ion-title>
    </ion-navbar>

</ion-header>


<ion-content [class.idark_content]="isIdark">
    <section class="dv_list">
        <section class="dv_list">
            <!--重复-->
            <section class="dv_item">
                <section class="dv_item_head" (click)="pushPersonPage( data.uid );">
                    <img [src]="data.userimg" />
                    <p>{{data.name}}</p>
                </section>

                <p>{{data.text}}</p>
                <section class="dv_item_bottom">
                    <p class="fl">{{data.time | date }}</p>
                    <p class="fr mess" (click)="sendComment( '@'+data.name, data._id, data.name, data.uid, data._id, '' );">回复</p>
                </section>
            </section>

        </section>

    </section>
    <ion-list [hidden]="ishide">
        <ion-list-header>
            回复列表 ⬇️️️⬇️️️⬇️️️
        </ion-list-header>
    </ion-list>
    <section class="dv_list">
        <!--重复-->
        <section class="dv_item" *ngFor="let item of data.commarr">
            <section class="dv_item_head" (click)="pushPersonPage( item.uid );">
                <img [src]="item.userimg" />
                <p>{{item.name}}</p>
            </section>

            <p>{{item.text}}<span *ngIf="item.reply && item.reply != ''"> //@ <a href="javascript:;" (click)="pushPersonPage( item.targetid );">{{item.targetname}}</a>: {{item.reply}}</span></p>
            <section class="dv_item_bottom">
                <p class="fl">{{item.time | date }}</p>
                <p class="fr mess" (click)="sendComment( '@'+item.name, data._id, item.name, item.uid, data._id, item.text );">回复</p>
            </section>
        </section>

    </section>
</ion-content>

<footer [data]="data" [type]="type"></footer>